p1{
    font-family: Calibri;
    color: white;
    margin-left: 10px;
    margin-top: 5px;
    
}
body{
    background: black;
}
#product{
    border: 2px white solid;
    width: 500px;
    height: 200px;
    background-color: darkgray;
}
p2{
    color: white;
    
}
#beschrijving{
    border: 1px gray solid;
    border-radius: 5px;
    max-width: 200px;
    top: 10px;
    height: 120px;
    left: 15px;
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
}
a.button{
    background-color: gray;
    border: 2px solid darkslategray;
    color: black;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    
    font-family: Calibri;
    margin-left: 55%;
}
#float{
    overflow: hidden;
}
p3{
    margin-left: 100%;
    padding-left: 50px;
    padding-top: 20px;
    font-family: Calibri;
    font-size: 200%;
}
p4{
    margin-left: 120%;
    padding-left: 50px;
    padding-top: 30px;
    font-family: Calibri;
    font-size: 100%;
}